*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(143, 136, 136);
    padding: 200px;
}
main{
    display: grid;
    grid-template-areas:
    'a a b'
    'c d d'
    'c e e' 
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
}
div{
    padding: 2em;
    text-align: center;

}
.blue{
    background-color: blue;
    grid-area: a;

}
.orange{
    background-color: orange;
    grid-area: b;
    height: 10vh;

}
.green{
    background-color:green ;
    grid-area: c;

}
.pink{
    background-color: pink;
    grid-area: d;
}
.yellow {
    background-color: pink;
     grid-area:e ;

}